#landing{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("assets/img/nathair.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-left: 420px;
}
